body{
  background-image: url(bg.png);
  background-attachment: fixed;
  height: 190vh;
}


#node-canvas{
  width:45vw;
  height:45vw;
  border: 0px red solid;
  position: absolute;
  right: 5vw;
  top: 12vh;
}

#main-title{
  position: absolute;
  font-size: 5vw;
  left: 7vw;
  top: 5vh;
  color: #455A64;
  font-family: 'Montserrat', sans-serif;
  font-weight: Regular;
}

#main-desc{
  position: absolute;
  font-size: 2vw;
  left: 7vw;
  top: 18vh;
  width: 27vw;
  text-align: left;
  color: #90A4AE;
  font-family: 'Montserrat', sans-serif;
  font-weight: Regular;
}

#rank-canvas{
  position: absolute;
  left: 7vw;
  width: 35vw;
  height: 65vh;
  top: 19vw;
}

#bub-canvas{

  position: absolute;
  left: 7vw;
  width: 75vh;
  height: 70vh;
  top: 108vh;

}

#bubsel-canvas{
  position: absolute;
  width: 40vw;
  height: 50vh;
  right: 2vw;
  top: 130vh;

}
