body{
  background-image: url(bg.png);
  background-attachment: fixed;
  height: 200vh;
}


#node-canvas{
  width:45vw;
  height:45vw;
  border: 0px red solid;
  position: absolute;
  right: 5vw;
  top: 12vh;
}

#main-title{
  position: absolute;
  font-size: 5vw;
  left: 7vw;
  top: 5vh;
  color: #455A64;
  font-family: 'Montserrat', sans-serif;
  font-weight: Regular;
}

#main-desc{
  position: absolute;
  font-size: 2vw;
  left: 7vw;
  top: 18vh;
  width: 27vw;
  text-align: left;
  color: #90A4AE;
  font-family: 'Montserrat', sans-serif;
  font-weight: Regular;
}

#status{
  position: absolute;
  top: 1vh;
  right: 1vw;
  color: #90A4AE;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8vw;
}
#madeby{
  position: absolute;
  top: 198vh;
  width: 20vw;
  right: 1vw;
  left:40vw;
  color: #90A4AE;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9vw;
}
#rank-canvas{
  position: absolute;
  left: 7vw;
  width: 35vw;
  height: 65vh;
  top: 19vw;
}

#bub-canvas{

  position: absolute;
  left: 7vw;
  width: 75vh;
  height: 70vh;
  top: 118vh;

}

#bubsel-canvas{
  position: absolute;
  width: 40vw;
  height: 62vh;
  right: 2vw;
  top: 130vh;

}

#bub-desc{
  position: absolute;
  font-size: 2.5vw;
  left: 59vw;
  top: 115vh;
  color: #455A64;
  font-family: 'Montserrat', sans-serif;
  font-weight: Regular;
}

#bub-em{
  position: absolute;
  left: 80vw;
  top: 111vh;
  width: 7vw;
  height: 7vw;
}

#down{
  position: absolute;
  bottom: 4vh;
  width: 3vw;
  left: 48.5vw;
  opacity: 0.3;
  cursor: pointer;

}

#up{
  position: absolute;
  top: 105vh;
  width: 3vw;
  left: 48.5vw;
  transform: rotate(180deg);
  opacity: 0;
  cursor: pointer;
}

#up:hover,#down:hover{
  opacity: 0.5!important;
}
