<html>
  <head>
    <meta charset="utf-8">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" href="static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>DuoMoji</title>
  </head>
<body>


  <div id="node-canvas"></div>
  <div id="main-title">DuoMoji</div>
  <div id="main-desc">Track emoji combinations on twitter in realtime</div>
  <div id="rank-canvas"></div>
  <div id="bub-canvas"></div>
  <div id="bubsel-canvas"></div>
  <div id="bub-desc">Most paired with</div>
  <div id="bub-em"></div>
  <img id="down" src="static/nav.png"/>
  <img id="up" src="static/nav.png"/>
  <div id="madeby">made with ♥️ by poobesh gowtham</div>


</body>
<script>
data=JSON.parse('{{ data | tojson | safe}}');
nodeList=data['nodeList']
nodeData=data['nodeData']
bubData=data['bubData']
bubList=data['bubList']
</script>
<script type="text/javascript" src="static/main.js"></script>
<script type="text/javascript">
setTimeout(function(){

  var source = new EventSource("{{ url_for('sse.stream') }}");
  source.addEventListener('nodelink', function(event) {

      var data = JSON.parse(event.data);
      var combData=data.message
      console.log(data.timestamp)
      for(var i=0;i<combData.length;i++){

        setTimeout(function(combData,i){
          if(rankOrder.indexOf(combData[i][0])>=0){
            blinkRank(combData[i][0])
            updateRank(combData[i])
          }


          a=nodeList.indexOf(combData[i][0].slice(0,2))
          b=nodeList.indexOf(combData[i][0].slice(2,4))
          drawLink(cCenter,cRadius,nodes,a,b,clr="#FFCC80",anim=true);
          d3.selectAll('circle').each(function(){this.parentNode.appendChild(this)})
        },0,combData,i)

      }

  }, false);

  source.addEventListener('error', function(event) {
      console.log('connection failed')
  }, false);

},1000)

</script>
</html>
